<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Screen Treasure</title>
</head>
<body>
<h1>Treasure All of Your Magic Screen Visuals</h1>
<form action="/download" method="post">
    <label for="url">yt URL:</label>
    <input type="text" id="url" name="url" required>
    <button type="submit">Magic Button</button>
</form>
<footer>
    <p>Made with &#x2764;&#xfe0f; for all of the boos out there. &#127279; Creative Commons Zero v1.0 Universal</p>
</footer>
</body>
</html>
